<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}👨‍💻Portfolio Juan_dev👨‍💻{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
</head>
<body>
    <!-- Menú del sitio -->   
    <header>
        <nav>
            <ul class="left">
                <div class="h1-header">
                    <h1 class="animated fadeInUp"><span class="arrow-h1">&lt;</span>Juan<span class="arrow-h1">/&gt;</span></h1>
                </div>
                <div class="text-header-left animated fadeInUp">
                    <li><a href="#" class="hvr-underline-from-left">Home</a></li>
                    <li><a href="#about-me" class="hvr-underline-from-left">About me</a></li>
                    <li><a href="#skills" class="hvr-underline-from-left">Skills</a></li>
                    <li><a href="#work" class="hvr-underline-from-left">Work</a></li>
                </div>
            </ul>
            <ul class="right animated fadeInUp">
                <select name="language" id="language">
                    <option value="EN">EN</option>
                    <option value="ES">ES</option>
                </select>
                <button class="btn-contact">Contact</button>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <h1><span class="arrow-h1">&lt;</span>Juan<span class="arrow-h1">/&gt;</span></h1>
        <p>2024 -Juan Pablo Caceres, all rights reserverd </p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
