{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="all_projects fade-in">
    <div class="title-search">
        <h2 data-translate="t_projects">All of my projects</h2>
        <div class="buscador-container">
            <input class="buscador" type="search" placeholder="Search" data-translate="search">
            <i class="fas fa-search icon-search"></i>
        </div>
    </div>
    <div class="cards-projects">
        <div class="card-project">
            <div class="container-img-project">
                <img src="{% static 'img/portfolio_home.png' %}" alt="Imagen del Home del portfolio">
            </div>
            <div class="card-details">
                <h3>Portfolio</h3>
                <p class="msg-desc" data-translate="d_a_project_1">Personal portfolio in which I show my projects and the technologies I use. Additionally, the viewer can download my CV and contact me through a form. This page was made with Django.</p>
                <div class="options-card">
                    <div class="card-live">
                        <i class="fa-solid fa-link"></i>
                        <a href="#home" target="_blank" data-translate="option_1">Live Preview</a>
                    </div>
                    <div class="card-github">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/JuanCaceres18/portfolio" target="_blank" data-translate="option_2">View Code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-project">
            <div class="container-img-project">
                <img src="{% static 'img/Proyecto_Netflix.png' %}" alt="Imagen de proyecto clon de Netflix">
            </div>
            <div class="card-details">
                <h3>Netflix Clon</h3>
                <p class="msg-desc" data-translate="d_project_2">This was a project I did for the Front-End part of the Codo a Codo course called 'Full-Stack Python'. Basically, this is a clone of the Netflix page GUI including a registration form that has data validation.</p>
                <div class="options-card">
                    <div class="card-live">
                        <i class="fa-solid fa-link"></i>
                        <a href="https://juancaceres18.github.io/proyecto_Netflix/" target="_blank" data-translate="option_1">Live Preview</a>
                    </div>
                    <div class="card-github">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/JuanCaceres18/proyecto_Netflix" target="_blank" data-translate="option_2">View Code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-project">
            <div class="container-img-project">
                <img src="{% static 'img/Proyecto_Spinetta.png' %}" alt="Imagen de página en homenaje a Spinetta">
            </div>
            <div class="card-details">
                <h3>Pescado Rabioso</h3>
                <p class="msg-desc" data-translate="d_a_project_2">This is a simple page that honors the renowned band Pescado Rabioso and that was made for the Junior Achievement program. On that page I experimented a lot with the DOM in JavaScript.</p>
                <div class="options-card">
                    <div class="card-live">
                        <i class="fa-solid fa-link"></i>
                        <a href="https://juancaceres18.github.io/proyectoPescadoRabioso/" target="_blank" data-translate="option_1">Live Preview</a>
                    </div>
                    <div class="card-github">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/JuanCaceres18/proyectoPescadoRabioso/tree/master" target="_blank" data-translate="option_2">View Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</section>

{% endblock %}